<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

	<menuitem name="menu-contact-book" title="Axelor Book" />
	<menuitem name="menu-contact-students" title="All Students"
		parent="menu-contact-book" action="contact.all" />
	<action-view model="com.axelor.student.db.Contact"
		name="contact.all" title="Contacts">
		<view type="grid" name="contact-grid" />
		<view type="form" name="contact-form" />
	</action-view>

	<menuitem name="menu-address-tree" title="Address Tree"
		parent="menu-contact-book" action="address.tree.all" />
	<action-view name="address.tree.all" title="Address Tree"
		model="com.axelor.student.db.Country">
		<view type="tree" name="address-tree" />
	</action-view>

	<menuitem title="Contact Card" name="menu-contact-card"
		parent="menu-contact-book" action="contact.card.all" />
	<action-view name="contact.card.all" title="Contact Card"
		model="com.axelor.student.db.Contact">
		<view type="cards" name="contact-card" />
		<view type="form" name="contact-form" />
	</action-view>

	<menuitem title="Projects" name="projects"
		parent="menu-contact-book" />
	<menuitem title="Project" name="project" parent="projects"
		action="project.all" />
	<action-view name="project.all" title="Project"
		model="com.axelor.student.db.Project">
		<view type="form" name="project-form" />
		<view type="grid" name="project-grid"/>
	</action-view>
	<menuitem title="Project Kanban" name="project-kanban"
		parent="projects" action="projectKanban.all" />
	<action-view name="projectKanban.all" title="Project Tasks"
		model="com.axelor.student.db.ProjectTask">
		<view type="kanban" name="project-kanban" />
		<view type="grid" name="projectTask-grid"/>
	</action-view>
	<menuitem title="ProjectTask" name="project-task" parent="projects" action="projectTasks.all"/>
	<action-view name="projectTasks.all" title="Project Tasks" model="com.axelor.student.db.ProjectTask">
		<view type="form" name="projectTask-form"/>
		<view type="grid" name="projectTask-grid"/>
	</action-view>


	<menuitem title="Project Calendar" name="project-calendar" parent="projects" action="project.event.all"/>
	<action-view name="project.event.all" title="Project Calendar" model="com.axelor.student.db.ProjectTask">
		<view type="calendar" name="project-calendar"/>
	</action-view>
	
	<menuitem title="Project Gantt" name="project-gantt" parent="projects" action="project.gantt.all"/>
	<action-view name="project.gantt.all" title="project Gantt" model="com.axelor.student.db.ProjectTask">
		<view type="gantt" name="project-task-gantt"/>
	</action-view>


	<menuitem name="menu-contact-config" title="Configurations" />
	<menuitem name="menu-contact-config-address" title="Address"
		parent="menu-contact-config" />

	<menuitem title="City Details"
		name="menu-contact-config-city-details"
		parent="menu-contact-config-address" action="city.details.all" />
	<action-view name="city.details.all"
		model="com.axelor.student.db.City" title="City Details">
		<view name="city-grid" type="grid" />
		<view name="city-form" type="form" />
		<view-param name="details-view" value="true" />
	</action-view>

	<menuitem name="menu-contact-config-city" title="City"
		parent="menu-contact-config-address" action="configure.city.all" />
	<action-view model="com.axelor.student.db.City"
		name="configure.city.all" title="Cities">
		<view type="grid" name="city-grid" />
		<view type="form" name="city-form" />
	</action-view>

	<menuitem name="menu-contact-config-state" title="State"
		parent="menu-contact-config-address" action="configure.state.all" />
	<action-view model="com.axelor.student.db.State"
		name="configure.state.all" title="States">
		<view type="grid" name="state-grid" />
		<view type="form" name="state-form" />
	</action-view>

	<menuitem name="menu-contact-config-country" title="Country"
		parent="menu-contact-config-address" action="configure.country.all" />
	<action-view model="com.axelor.student.db.Country"
		name="configure.country.all" title="Countries">
		<view type="grid" name="country-grid" />
		<view type="form" name="country-form" />
	</action-view>

	<menuitem name="menu-contact-config-education"
		title="Education" parent="menu-contact-config" />
	<menuitem name="menu-contact-config-technology"
		title="Technologys" parent="menu-contact-config-education"
		action="configure.technology.all" />
	<action-view model="com.axelor.student.db.Technology"
		name="configure.technology.all" title="Technology">
		<view type="grid" name="technology-grid" />
		<view type="form" name="technology-form" />
	</action-view>

	<menuitem title="Dashboard " name="dashboard-view"
		action="overview.all" />
	<action-view name="overview.all" title="overview">
		<view type="dashboard" name="overview" />
	</action-view>


	<menuitem title="Calculator" name="menu-calc"
		icon="fa-solid fa-calculator-simple" action="calc.all" />
	<action-view name="calc.all" title="calculator"
		model="com.axelor.calc.db.Calculator">
		<view type="form" name="calc-form" />
		<view type="grid" name="calc-grid" />
	</action-view>

</object-views>